/*main comment for compile to make it work for sass */
#color {
  color: #399bd1;
}

li a {
  font-size: 1.1rem;
  font-weight: 600;
}

.navbar {
  padding: 0.8rem;
}

.navbar .navbar-nav li {
  padding-right: 20px;
}

.navbar .nav-link {
  font-size: 1.1rem !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcom hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-code {
  color: #e54d26;
}

.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}

.fa-bold, .fa-code, .fa-css3 {
  font-size: 4rem;
  margin: 1rem;
}

.fun {
  width: 100%;
  margin-bottom: 2rem;
}

.gif {
  max-width: 100%;
}

.social a {
  font-size: 4.5rem;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-youtube {
  color: #bb0000;
}

.fa-instagram {
  color: #517fa4;
}

.fa-google-plus-g {
  color: #dd4b39;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr .light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 100%;
  }
}
